@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgba(210,175,185, 0.7), rgba(74,77,106,0.7)), url('./assets/bg.jpg');
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.App-container {
    width: 300px;
    height: 535px;
    background-image: linear-gradient(to bottom right, rgba(86,90,168, 0.7), rgba(172,174,211,0.7)), url('./assets/container-bg.jpg');
    background-size: cover;
    background-position: 50% 0;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}
